@import "webfonts.css" screen;
.dosislight, body {
  font-family: 'dosislight', Arial, sans-serif;
}

.dosisbold, body b,
body strong {
  font-family: 'dosisbold', Arial, sans-serif;
}

.dosissemibold, h1, h2, h3, h4, .navigationRow {
  font-family: 'dosissemibold', Arial, Sans-serif;
}

.specialelite, .heroRow, .heroRow h2 {
  font-family: 'Special Elite', cursive, Arial, Sans-serif;
}

body {
  font-size: 14px;
  counter-reset: section;
}
body b,
body strong {
  font-size: 14px;
}
body p {
  font-size: 0.9rem;
}

h1, h2, h3, h4 {
  color: #313337;
  text-transform: uppercase;
}

h2 {
  font-size: 70px;
}
h2 .large {
  font-size: 87px;
}
h2 span.subheader {
  display: block;
  color: #313337;
  font-size: 43px;
  line-height: 1;
  text-transform: none;
}

.green {
  color: #76bd1d;
}

.padTop10 {
  padding-top: 10px;
}

.padTop15 {
  padding-top: 15px;
}

.padTop20 {
  padding-top: 20px;
}

.padTop25 {
  padding-top: 25px;
}

.padBot10 {
  padding-bottom: 10px;
}

.padBot15 {
  padding-bottom: 15px;
}

.padBot20 {
  padding-bottom: 20px;
}

.padBot25 {
  padding-bottom: 25px;
}

.marTop10 {
  margin-top: 10px;
}

.marTop15 {
  margin-top: 15px;
}

.marTop20 {
  margin-top: 20px;
}

.marTop25 {
  margin-top: 25px;
}

.marBot10 {
  margin-bottom: 10px;
}

.marBot15 {
  margin-bottom: 15px;
}

.marBot20 {
  margin-bottom: 20px;
}

.marBot25 {
  margin-bottom: 25px;
}

.container {
  position: relative;
  display: block;
  width: 100%;
}

/* Navigation ROW */
.navigationRow {
  border-bottom: 2px solid #76bd1d;
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
  background: -o-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
  background: -ms-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#efefef', GradientType=0 );
}
.navigationRow ul.mainNavigation {
  text-transform: uppercase;
}

/* HERO ROW */
.heroRow {
  min-height: 544px;
  background: url(../img/hero.jpg) top center no-repeat;
}
.heroRow h2 {
  margin: 80px 0 60px;
  font-size: 46px;
}
.heroRow a {
  color: #76bd1d;
  font-size: 36px;
}

/* Reason Row */
.reasonRow {
  min-height: 740px;
  padding: 90px 0 50px 0;
  background: #e9e9e9;
  background: -moz-linear-gradient(top, #e9e9e9 0%, #f4f4f4 4%, #fdfdfd 97%, #e9e9e9 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e9e9e9), color-stop(4%, #f4f4f4), color-stop(97%, #fdfdfd), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, #e9e9e9 0%, #f4f4f4 4%, #fdfdfd 97%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #e9e9e9 0%, #f4f4f4 4%, #fdfdfd 97%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #e9e9e9 0%, #f4f4f4 4%, #fdfdfd 97%, #e9e9e9 100%);
  background: linear-gradient(to bottom, #e9e9e9 0%, #f4f4f4 4%, #fdfdfd 97%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#e9e9e9', GradientType=0 );
}
.reasonRow h4 {
  font-size: 18px;
  color: #555555;
}
.reasonRow img {
  margin-bottom: 15px;
}

/* BadgeRow */
.badgeRow {
  height: 193px;
  background: #3fa76a url(../img/green-band.jpg) top center no-repeat;
  border-top: 7px solid #e9e9e9;
  border-bottom: 7px solid #e9e9e9;
}
.badgeRow img {
  position: relative;
  top: -40px;
}

/* HowWorkRow */
.howworkRow ol {
  border-left: 1px dashed #009639;
  list-style-position: outside;
}
.howworkRow ol li:before {
  display: block;
  float: left;
  height: 42px;
  width: 42px;
  margin-left: -50px;
  background: #009639;
  color: #fff;
  text-align: center;
  line-height: 42px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #fff;
  content: " ";
  display: table;
  counter-increment: section;
  content: counter(section) ". ";
}
.howworkRow ol li {
  height: 55px;
  margin-bottom: 54px;
  padding-left: 30px;
  list-style-type: none;
  font-size: 18px;
}
.howworkRow ol li span {
  float: left;
  display: block;
  padding-top: 8px;
}
.howworkRow ol li:after {
  clear: both;
  content: " ";
  display: table;
}
.howworkRow ol li:last-child {
  margin-bottom: 0;
}
