// Global Foundation Settings

@import "normalize";
@import "settings";
//@import "foundation";
//@import "foundation/components/tables";
//@import "foundation/components/global"; // *always required

// Classes Includes
//$include-html-table-classes: $include-html-classes !default;


// Imports
@import "webfonts.css" screen;
@import "foundation-icons.css" screen;

// Variables
$ci1: #76bd1d;
$ci2: #313337;
$ci3: #a1a5ae;
$ci4: #555555;
$ci5: #757982;
$ci6: #009639;


.arial,
.arial b,
.arial strong {font-family: Arial, Verdana, sans-serif !important;}
.dosisregular {font-family: 'dosisregular', Arial, sans-serif;}
.dosislight {font-family: 'dosislight', Arial, sans-serif;}
.dosismedium {font-family: 'dosismedium', Arial, sans-serif;}
.dosisbold {font-family: 'dosisbold', Arial, sans-serif;}
.dosissemibold {font-family: 'dosissemibold', Arial, Sans-serif;}
.specialelite {font-family: 'Special Elite', cursive, Arial, Sans-serif;}


// Essentials
body {
  counter-reset: section;
  @extend .dosislight;

  b,
  strong {
	@extend .dosisbold;
  }
  p {
	font-size: 1rem;
  }
}

// SASS Customizing
.button {
  color:#fff !important;
  @extend .dosissemibold;
}
.button.tiny {
  font-size: 0.9rem;
  padding-top: 0.225rem;
  padding-right: 1.2rem;
  padding-bottom: 0.2875rem;
  padding-left: 1.2rem;
}
.button.small {
  padding-top: 0.575rem;
  padding-right: 1.9rem;
  padding-bottom: 0.4375rem;
  padding-left: 1.9rem;
  font-size: 0.8125rem;
}
.button.mega {
  padding-top: 1rem;
  padding-right: 2.25rem;
  padding-bottom: 1.1875rem;
  padding-left: 2.25rem;
  font-size: 3.8rem;
  text-transform: uppercase;
  @extend .dosisregular;
}

.text-uppercase {text-transform: uppercase;}

// Headlines
h1, h2, h3, h4, h5 {
  color: $ci2;
  text-transform: uppercase;
  @extend .dosissemibold;
}

h2 {
  font-size: 70px;
	.large {
  		font-size: 87px;
	}
	span.subheader {
	  display: block;
	  color: $ci2;
	  font-size: 43px;
	  line-height: 1;
	  text-transform: none;
	}
}

h3 {
  font-size: 48px;
}

// Coloring
.gradient-lightgrey {
  background: rgba(233,233,233,1);/* Old Browsers */
  background: -moz-linear-gradient(top, rgba(233,233,233,1) 0%, rgba(244,244,244,1) 4%, rgba(253,253,253,1) 97%, rgba(233,233,233,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(233,233,233,1)), color-stop(4%, rgba(244,244,244,1)), color-stop(97%, rgba(253,253,253,1)), color-stop(100%, rgba(233,233,233,1)));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(233,233,233,1) 0%, rgba(244,244,244,1) 4%, rgba(253,253,253,1) 97%, rgba(233,233,233,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(233,233,233,1) 0%, rgba(244,244,244,1) 4%, rgba(253,253,253,1) 97%, rgba(233,233,233,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(233,233,233,1) 0%, rgba(244,244,244,1) 4%, rgba(253,253,253,1) 97%, rgba(233,233,233,1) 100%); /* IE 10+ */
  background: linear-gradient(to bottom, rgba(233,233,233,1) 0%, rgba(244,244,244,1) 4%, rgba(253,253,253,1) 97%, rgba(233,233,233,1) 100%);/* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#e9e9e9', GradientType=0 );/* IE6-9 */
}
.gradient-lightgrey-reverse {
  background: rgba(253,253,253,1);
  background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(239,239,239,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(100%, rgba(239,239,239,1)));
  background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(239,239,239,1) 100%);
  background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(239,239,239,1) 100%);
  background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(239,239,239,1) 100%);
  background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(239,239,239,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#efefef', GradientType=0 );
}
.gradient-yellow {
  background: rgba(249,226,77,1);
  background: -moz-linear-gradient(top, rgba(249,226,77,1) 0%, rgba(248,217,40,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,226,77,1)), color-stop(100%, rgba(248,217,40,1)));
  background: -webkit-linear-gradient(top, rgba(249,226,77,1) 0%, rgba(248,217,40,1) 100%);
  background: -o-linear-gradient(top, rgba(249,226,77,1) 0%, rgba(248,217,40,1) 100%);
  background: -ms-linear-gradient(top, rgba(249,226,77,1) 0%, rgba(248,217,40,1) 100%);
  background: linear-gradient(to bottom, rgba(249,226,77,1) 0%, rgba(248,217,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e24d', endColorstr='#f8d928', GradientType=0 );
}

.greenborder {
  display: block;
  border-bottom: 2px solid $ci1;
}
.greenborder.vertical {
  border-right: 2px solid $ci1;
  border-bottom: none;
}

.txtgreen {color: $ci1;}
.txtdarkgreen {color: $ci6;}
.txtlightgrey {color:$ci3;}

.green {background: $ci1;}
.darkgreen {background: $ci6;}
.lightgrey {background:$ci3;}
.yellow {background: #F8D928;}

.button.green {background: $ci1;}
.button.darkgreen {background: $ci6;}
.button.lightgrey {background:$ci3;}
.button.yellow {
	@extend .gradient-yellow;
	border-top: 1px solid  #fcef88;
	border-bottom: 1px solid #dcc647;
  }
.button.green:hover, .button.green:focus {
  background: mix($ci1, #000, 80%);
}
.button.darkgreen:hover, .button.darkgreen:focus {
  background: mix($ci6, #000, 80%);
}
.button.lightgrey:hover,.button.lightgrey:focus {
	background: mix($ci3, #000, 80%);
}
.button.yellow:hover, .button.yellow:focus {
  background: mix(#F8D928, #fff, 70%);
}


/* Rounded Stuff */
.roundFull {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #fff;
}

// Link & Stuff

// Padding & Margins
.padTop10 {padding-top: 10px;}
.padTop15 {padding-top: 15px;}
.padTop20 {padding-top: 20px;}
.padTop25 {padding-top: 25px;}

.padBot10 {padding-bottom: 10px;}
.padBot15 {padding-bottom: 15px;}
.padBot20 {padding-bottom: 20px;}
.padBot25 {padding-bottom: 25px;}

.marTop10 {margin-top: 10px;}
.marTop15 {margin-top: 15px;}
.marTop20 {margin-top: 20px;}
.marTop25 {margin-top: 25px;}
.marTop50 {margin-top: 50px;}

.marBot10 {margin-bottom: 10px;}
.marBot15 {margin-bottom: 15px;}
.marBot20 {margin-bottom: 20px;}
.marBot25 {margin-bottom: 25px;}
.marBot50 {margin-bottom: 50px;}


// Special Items
.container {
  position: relative;
  display: block;
  width: 100%;
}


///////////////////////////
// SPECIAL ROWS
//////////////////////////


/* Navigation ROW */
.navigationRow {
  padding: 10px 0 0;
  border-bottom: 2px solid #76bd1d;
  @extend .dosissemibold;
  @extend .gradient-lightgrey-reverse;

  ul.mainNavigation {
	margin:0 15px 0 0;
	text-transform: uppercase;
	li.first {
	  margin-left:0;
	}
	li {
	  line-height: 3;
	  a {
		color: $ci5;
	  }
	}
  }
  .button {
	margin: 10px 0 0 0;
  }
}

/* HERO ROW */
.heroRow {
  min-height: 544px;
  background: url(../img/hero.jpg) top center no-repeat;
  @extend .specialelite;
	h2 {
	  margin: 80px 0 60px;
	  font-size: 46px;
	  @extend .specialelite;
	}
  	a {
	color:$ci1;
	font-size: 36px;
  	}
}

/* Reason Row */
.reasonRow {
  min-height: 740px;
  padding: 90px 0 50px 0;
  @extend .gradient-lightgrey;

  h4{
	font-size: 18px;
	color: $ci4;
  }
  img {
	margin-bottom: 15px;
  }
}

/* BadgeRow */
.badgeRow {
  height:193px;
  background: #3fa76a url(../img/green-band.jpg) top center no-repeat;
  border-top:7px solid #e9e9e9;
  border-bottom:7px solid #e9e9e9;
  img {
	position: relative;
	top:-40px;
  }
}

/* HowWorkRow */
.howworkRow {
  .row > div {
	padding-bottom: 50px;
	margin-bottom: 60px;
	border-bottom: 2px solid $ci1;
  }

  ol {
	border-left: 1px dashed $ci6;
	list-style-position: outside;
	li:before {
	  display:block;
	  float:left;
	  height: 42px;
	  width: 42px;
	  margin-left: -50px;
	  background: $ci6;
	  color: #fff;
	  text-align: center;
	  line-height: 42px;
	  content: " ";
	  display: table;

	  counter-increment:section;
	  content: counter(section) ". ";
	  @extend .roundFull;
	}
	li {
	  height: 55px;
	  margin-bottom: 54px;
	  padding-left:30px;
	  list-style-type: none;
	  font-size: 18px;
	  span {
		float: left;
		display: block;
		padding-top:8px;
	  }
	}
	li:after {
	  clear:both;
	  content: " ";
	  display: table;
	}
	li:last-child {
	  margin-bottom:0;
	}
  }
}

/* Product Overview Row */
.productRow {
  margin-bottom: 75px;

  .greyBG {
	background: #e1e3e4;

	p {
	  color:$ci3;
	  font-size: 1.2rem;
	  padding: 10px 10% 30px;
	  @extend .dosissemibold;
	}

	a {
	  font-size: 1.1rem;
	  text-transform: uppercase;
	  color: $ci6;
	}
  }

  h4 {
	display: block;
	padding: 10px 0;
	background: $ci1;
	color: #fff;
  }
  .columns:nth-child(3) .greyBG h4 {background:$ci1;}
  .columns:nth-child(4) .greyBG h4 {background:$ci6;}
  .columns:nth-child(5) .greyBG h4 {background:#006535;}
}

/* Try Row */
.tryRow {
  margin-bottom: 95px;

  h4 {
	font-size: 30px;
	color: #686b6d;
  }
}

/* ROI Calculator Row */
.roiRow {
  margin-bottom: 95px;
  padding:100px 3% 100px;
  @extend .gradient-lightgrey;
}


/* Pricing Table Row */
.priceRow {
	h4 {
	  padding: 10px 0;
	  margin-bottom: 0;
	  background: #b3db69;
	  color:#fff;
	  border-radius: 5px 5px 0px 0px;
	  -moz-border-radius: 5px 5px 0px 0px;
	  -webkit-border-radius: 5px 5px 0px 0px;
	  border: 0px solid #000000;
	  border-bottom: 2px solid $ci1;
	}
  table {
	border-collapse: collapse;
	border: none;
	th{
	  background: $ci2;
	  color: #fff;
	  text-transform: uppercase;
	  @extend .dosissemibold;
	  font-size: 18px;
	}
	tr{
	  td{
		@extend .arial;
		font-weight: bold;
		color: $ci3;
		i.fi-check {
		  color: $ci6;
		  font-size: 18px;
		}
		i.fi-minus {
		  color:#eec9c5;
		  font-size: 18px;
		}
		span.price {
		  display:inline-block;
		  padding: 10px 25px;
		  color:#fff;
		  @extend .gradient-yellow;
		  @extend .dosissemibold;
		  font-size: 24px;
		  border-top: 1px solid  #fcef88;
		  border-bottom: 1px solid #dcc647;
		}
	  }
	  td.text-right {
		color: $ci2;
		span {
		  margin-left:10px;
		}
	  }
	}
  }
}


/* Solution Row */
.solutionRow {
  margin-bottom: 95px;
  .entry {
	margin-top: 30px;
  }
  .entry .underline {
	padding-bottom: 50px;
	border-bottom: 2px solid #f9e14e;
  }
  h3{
	font-size: 36px;
	color:$ci6;
	@extend .dosismedium;
  }
  p{
	@extend .arial;
	font-size: 20px;
	color: $ci5;
  }
  a {
	@extend .dosissemibold;
	font-size: 22px;
	color: $ci1;
  }
}

/* Company Row */
.companyRow {
  margin-bottom: 50px;
  h2 {
	margin-bottom: 30px;
	span.subheader {
	  display: block;
	  color: $ci3;
	  font-size: 42px;
	  line-height: 1;
	  text-transform: none;
	}
  }
  .companyImg {
	max-width:170px;
	margin:0 auto 20px auto;
	@extend .roundFull;
	background: transparent;
	border: 3px solid transparent;
  }
  .companyImg:hover {
	background: $ci1;
	border: 3px solid $ci1;
  }
}


/* FAQ Row */
.faqRow {
  margin-bottom: 100px;
  h3{
	margin: 0 0 30px 0;
  }
  .accordion dd > a {
	background: transparent;
	padding:1rem;
	margin-left: 72px;
	font-size: 24px;
	color: #313337;
	@extend .dosissemibold;

  }
  .accordion .content.active {
	background: none;
	margin-left: 100px;
	font-size: 15px;
	color:#313337;
	@extend .arial;
  }
  dd{
	min-height: 72px;
  }
  dd:nth-child(even) {
	background:#fff url(../img/acc_light_plus.jpg)top left no-repeat;
  }
  dd:nth-child(odd) {
	background:#f2f2f2 url(../img/acc_dark_plus.jpg)top left no-repeat;
  }
  dd:nth-child(even).active {
	background:#fff url(../img/acc_grey_minus.jpg)top left no-repeat;
  }
  dd:nth-child(odd).active {
	background:#f2f2f2 url(../img/acc_grey_minus.jpg)top left no-repeat;
  }
}

/* Testimonial Row */
.testimonialRow {
  min-height: 612px;
  margin-bottom: 100px;
  padding: 50px 0;
  background: #e8e8e8 url(../img/gray-band.jpg) top center no-repeat;
  background-size: cover;
  blockquote,
  p {
	font-size: 30px;
	line-height: 1.4;
	border: none;
	cite {
	  margin-top:1em;
	  color: #7f8b94;
	  font-size: 30px;
	  font-style: normal;
	}
  }
  .large {
	font-size: 48px;
	cite {
	  margin-top:1rem;
	  color: #7f8b94;
	  font-size: 30px;
	  font-style: normal;
	}
  }
  span.greenborder {
	display: inline-block;
	margin: 20px auto;
	width: 50%;
  }
  ul.orbit-content {
	margin: 30px 0 0 0;
  }
  a.orbit-next,
  a.orbit-prev {
	height:50px;
	width:50px;
	background: $ci1;
	@extend .roundFull;
  }
  a.orbit-prev {
	span {
	  left:8px;
	}
  }
  ol.orbit-bullets {
	li.active {
	  background: $ci1;
	}
  }
}

/* Footer Row */
.footerRow {
  margin-bottom: 100px;
  h4 {
	color: $ci6;
	margin-bottom: 30px;
  }
  .contact {

  }
  .careers,
  .news,
  .blog {
	.entry {
	  font-size: 16px;
	}
	b {
	  @extend .arial;
	  display: block;
	  font-size: 14px;
	  color: $ci5;
	}
	a {
	  @extend .arial;
	  font-style:italic;
	  display: block;
	  color: $ci1;
	}
  }
  .careers {
	.shadowbox {
	  width:100%;
	  background:#fff;
	  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
	  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
	  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
	  h5 {
		padding:10px;
		background: $ci6;
		color: #fff;
	  }
	  .entry {
		width:100%;
		padding: 10px 3%;
		margin:0 0 10px 0;
		border-bottom: 1px solid #ccc;
	  }
	}
  }
}